        body{
            background-color:#F0F7FF;
            color: #334155;
        }

        .container{
            background-color:#F9FAFB;
        }
        
        .container h2{
            text-align: center;
        }

        /* Navbar Styling*/
        .header{
            background-color: #3A6EA5;
            display: flex;
            height: fit-content;
            justify-content: space-between;
            padding: 20px;
        }
        .logo{
            margin-left: 10px;
        }
        .logo img{
            max-width: 50px;
        }
        .nav{
            display: flex;
            justify-content: center;
        }

        .nav a{
            color: white;
         text-decoration: none;
         padding: 10px 10px;
         border: 1px solid transparent;
        }

        .nav a:hover{
         padding: 10px;
         border-bottom:1px solid #60A5FA;
         border-right:1px solid #60A5FA;
        }        

        /* About Styling */
        .about{
            display: flex;
            flex-direction: column;
            text-align: center;
        }
        .about h3{
            text-decoration: none;
            text-align: center;
        }
        .block{
            background-color: #FFFFFF;
            border: 2px solid black;
            margin-top: 10px;
            padding: 20px;
        }
        .block img{
            max-width: 100px;
        }

        /* Contact-Form Styling */
        .contact-form{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .contact-row{
            display: flex;
            margin: 10px;
            border: 2px solid black;
            border-radius: 20px;
        }
        .contact-box{
            flex: 1;
            padding: 20px;
            max-width:100%;
            height: fit-content;
        }
        .contact-box img{
            max-width: 100px;
            margin: 10%;
        }
        .form{
            width: auto;
            display:flex;
            flex-direction: column;
            gap: 10px;
        }
         input,button{
            max-width: 100%;
            padding: 10px;
        
            border: 1px medium grey;
            transition: 0.3s ease;
        }
        button{
            background-color: #3A6EA5;
            color: white;
        }

        input:hover{
            border: 2px solid black;
        }
        button:hover{
            border: 2px solid black;
            background-color:#6F4E2C;
        }
        textarea:hover{
            border: 2px solid black;
        }



        /* Footer Styling */
         .footer-row{
            margin-top: 10px;
            background-color: #3A6EA5;
            padding: 20px;
            max-width: 100%;
            border: 2px solid transparent;
            display: flex;
            justify-content: space-around;
        }
        h3{
            color: #1E3A8A;     
        }
        .footer-row h2{
            color: #1E3A8A;
            font-size: 20px;
        }
        .footer-box{
            color: white;
            width: fit-content;
            margin: 10px;
            justify-content: center;
        }
        .footer-box li,a{
            text-decoration: none;
            list-style: none;
            color: white;
;
        }
        .footer-bottom{
            background-color: #3A6EA5;
            color: white;
            font-size: 15px;
            padding: 10px;
            text-align: center;
        }
